<div class="chart-container">
    <button class="piechart-button" role="button" (click)="openPieChartModal()">open piechart</button>
    <button class="barchart-button" role="button" (click)="openBarChartModal()">open barchart</button>
    <button class="doughnutchart-button" role="button" (click)="openDoughnutChartModal()">open doughnutchart</button>
    <button class="scatterchart-button" role="button" (click)="openScatterChartModal()">open scatterchart</button>
    <button class="linechart-button" role="button" (click)="openLineChartModal()">open linechart</button>
</div>

