<div class="modal-header">
    <h1 class="modal-title">Scatter Chart Modal Using Chart.js</h1>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="modal-body">
    <div class="chart-wrapper">
        <canvas baseChart 
        [datasets]="scatterChartData" 
        [options]="scatterChartOptions" 
        [chartType]="scatterChartType">
        >
        </canvas>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="blue-button" class="btn btn-outline-dark confirm-buton" (click)="confirm()">confirm</button> 
    <button type="button" id="red-button" class="btn btn-outline-dark confirm-buton" (click)="activeModal.close('Close click')">close</button>
</div>